<h1>Create A New Work Out</h1>

 <form action="/workouts" method="post">
  <label for="workout_name">Name</label>
  <input type="text" name="workout[name]" id="workout_name"></input>
  <br></br>
  <label for="workout_date">Date</label>
  <input type="text" name="workout[date]" id="workout_date"></input> 
   <br></br>

   <label for="exercise_name">Exercise No. 1 Name:</label>
   <input type="text" name="workout[exercises][][name]"></input>
   <label for="exercise_reps">Exercise No. 1 Reps:</label>
   <input type="text" name="workout[exercises][][reps]"></input>
   <label for="exercise_lbs">Exercise No. 1 LBS:</label>
   <input type="text" name="workout[exercises][][lbs]"></input>
   <br></br>

   <label for="exercise_name">Exercise No. 2 Name:</label>
   <input type="text" name="workout[exercises][][name]"></input>
   <label for="exercise_reps">Exercise No. 2 Reps:</label>
   <input type="text" name="workout[exercises][][reps]"></input>
   <label for="exercise_lbs">Exercise No. 2 LBS:</label>
   <input type="text" name="workout[exercises][][lbs]"></input>
   <br></br>

   <label for="exercise_name">Exercise No. 3 Name:</label>
   <input type="text" name="workout[exercises][][name]"></input>
   <label for="exercise_reps">Exercise No. 3 Reps:</label>
   <input type="text" name="workout[exercises][][reps]"></input>
   <label for="exercise_lbs">Exercise No. 3 LBS:</label>
   <input type="text" name="workout[exercises][][lbs]"></input>
   <br></br>

   <label for="exercise_name">Exercise No. 4 Name:</label>
   <input type="text" name="workout[exercises][][name]"></input>
   <label for="exercise_reps">Exercise No. 4 Reps:</label>
   <input type="text" name="workout[exercises][][reps]"></input>
   <label for="exercise_lbs">Exercise No. 4 LBS:</label>
   <input type="text" name="workout[exercises][][lbs]"></input>
   <br></br>

   <label for="exercise_name">Exercise No. 5 Name:</label>
   <input type="text" name="workout[exercises][][name]"></input>
   <label for="exercise_reps">Exercise No. 5 Reps:</label>
   <input type="text" name="workout[exercises][][reps]"></input>
   <label for="exercise_lbs">Exercise No. 5 LBS:</label>
   <input type="text" name="workout[exercises][][lbs]"></input>
   <br></br>

   
  
 <input type="submit">
 
 </form>
