<h1> Workout!</h1>
<h2><%= @workout.name %></h2>
<ul>
<li><%= @workout.date %></li>
<% @workout.exercises.each do |exercise| %>
	<li><%= exercise.name %></li>
<% end %>
</ul>

<a href="/workouts/<%=@workout.id%>/edit">Edit Workout</a>